*{
	margin: 0;
	padding: 0;
}
.top-bd{
	width: 100%;
}
.banner-background{
	display: block;
	height: 120px;
	min-width: 1226px;
	background: url(../img/2.jpg) center;


}
ul{
	list-style: none;
}
ul li a{
	text-decoration: none;
}
.top-nav{
	height: 40px;
	background-color: #333;
}
.top-nav .top-nav-container{
	display:block;
	height: 40px;
	width: 1226px;
	margin: 0 auto;
}
.top-nav-container .nav-left li {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top-nav-container .nav-left li a{
	font-size:12px;
	margin-right:10px;
	/*border-right:1px solid #424242;*/
	color: #999;
}
/*.top-nav-container .nav-left li:last-of-type a{
	border:none;
}*/
.top-nav-container .nav-right li {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top-nav-container .nav-right li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color:#424242; 
	vertical-align:middle;
	margin-right: 10px;
}
.top-nav-container .nav-right li:first-child:after {
	display: none;

}

.top-nav-container .nav-left li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color:#424242; 
	vertical-align:middle;
	margin-right: 10px;
}
.top-nav-container .nav-left li:last-child:after {
	display: none;

}
.top-nav-container .nav-right li a{
	font-size: 12px;
	margin-right:10px;
	color: #999;	
}
.top-nav .top-nav-container a:hover{
	color:#fff;
}
.home-hero-container{
	width: 1226px;
	margin: 0 auto;
}
.home-hero-nav{
	width: 1226px;
	height: 100px;
}


