*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.top-bd{
	width: 100%;
}
.banner-background{
	display: block;
	height: 120px;
	min-width: 1226px;
	background: url(../img/2.jpg) center;


}
ul{
	list-style: none;
}
ul li a{
	text-decoration: none;
}
.top-nav{
	height: 40px;
	background-color: #333;
}
.top-nav .top-nav-container{
	display:block;
	height: 40px;
	width: 1226px;
	margin: 0 auto;
}
.top-nav-container .nav-left li {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
}
.top-nav-container .nav-left li a{
	font-size:12px;
	margin-right:10px;
	/*border-right:1px solid #424242;*/
	color: #999;
}
/*.top-nav-container .nav-left li:last-of-type a{
	border:none;
}*/
.top-nav-container .nav-right li {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
}
.top-nav-container .nav-right li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color:#424242; 
	vertical-align:middle;
	margin-right: 10px;
}
.top-nav-container .nav-right li:first-child:after {
	display: none;
}
.top-nav-container .nav-left li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color:#424242; 
	vertical-align:middle;
	margin-right: 10px;
}
.top-nav-container .nav-left li:last-child:after {
	display: none;

}
.top-nav-container .nav-right li a{
	font-size: 12px;
	margin-right:10px;
	color: #999;	
}
.top-nav .top-nav-container a:hover{
	color:#fff;
}






.home-hero{
	width: 1226px;
	margin: 0 auto;
}
.home-hero-nav{
	position: relative;
	width: 1226px;
	height: 100px;
}
.home-hero-nav .logo{
	float: left;
	width: 62px;
	margin: 24.5px 15px 0 0;
}
.logo .xiaomi-logo{
	display: inline-block;
	width: 55px;
	height: 55px;
	background:#ff6700 url(../img/mi-logo.png) no-repeat center; 
}
.home-hero-nav .hot-ad {
	position: absolute;
  left:70px;
  z-index: 21;
  width: 165px;
  height: 100px;
  vertical-align: middle;
}
.home-hero-nav .hot-ad a{
	display: block;
	width: 165px;
	height: 100px;
	background: url(../img/5.gif) no-repeat center;
}
.classify-nav{
	width: 870px;
	height: 100px;
	line-height: 100px;
	padding-left: 234px;
}
.classify-nav li {
	display: inline-block;
	margin-left:20px;
}
.classify-nav li a{
	font-size: 16px;
	color: #333;
}
.classify-nav li a:hover{
	color: #ff6700;
}
.home-hero .search-bar{
	float: right;
	margin-top: 23px;
	width: 296px;
	height: 50px;
	font-size: 0;
}
.home-hero .search-bar:hover form {
	border-color: #b0b0b0;
}
.home-hero .search-bar:hover .search-btn {
	border-color: #b0b0b0;
}
.search-bar form{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 244px;
	border:1px solid #e0e0e0;
	border-right: none;
}
.search{
	padding: 0 10px;
	height: 48px;
	border: none;
	width: 243px;
	font-size: 14px;
	outline: none;
}
.search-btn{
	display: inline-block;
	vertical-align: top;
	width: 52px;
	height: 50px;
	border:1px solid #e0e0e0;
	background-image: url(../img/search.svg);
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
}
.search-btn:hover{
	color: #fff;
	border-color: #ff6700!important;
	background-color: #ff6700!important;
	background-image: url(../img/search-white.svg);

}
.quick-link{
	position: absolute;
	right: 10px;
	top:16px;
}
.quick-link a{
	font-size: 12px;
	background-color: #eee;
	padding:0 5px;
	color:#757575;
	text-decoration: none;
}
.quick-link a:hover{
	background-color: #ff6700;
	color: #fff;
}



.home-hero-wrapper{
	position: relative;
	width: 1226px;
	height: 460px;
	
}
.home-hero-wrapper .nav-pills{
	position: absolute;
	top: 0;
	left:0;
	width: 234px;
	height: 460px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	padding: 20px 0; 
}
.home-hero-wrapper .nav-pills ul li  a{
	position: relative;
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	padding: 0 20px 0 26px;
	color: #fff;
	/*background-image: url(../img/navigation.svg);*/
	background-position: 190px 12px;
	background-size: 15px;
	background-repeat: no-repeat;
}
.home-hero-wrapper .nav-pills ul li  a:after{
	content: "";
	position: absolute;
	display: inline-block;
	width: 8px;
	height:8px;
	border-top:2px solid rgba(255,255,255,0.5);
	border-right:2px solid rgba(255,255,255,0.5);
	transform: rotate(45deg);
	right: 25px;
  bottom: 18px;
}
.nav-pills ul li  a:hover{
	background-color: #f66700;
}
.wrapper-big-banner{
	height: 460px;
	position: relative;
}
.wrapper-big-banner .wrapper-banner{
	height: 460px;
}
.wrapper-big-banner .wrapper-banner img{
	display: block;
	height: 460px;
	max-width: 100%;
	height: 460px;
}

.home-hero-wrapper .arrow-left{
	position: absolute;
	top: 50%;
	width: 42px;
	height: 69px;
	margin-top: -35px;
	margin-left: 234px;
	background-image: url(../img/navigation-back.svg);
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
}
.home-hero-wrapper .arrow-left:hover{
	background-color:rgba(0,0,0,0.6);
	background-image: url(../img/navigation-back-white.svg);
}
.home-hero-wrapper .arrow-right{
	position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  margin-left: 1186px;
  background-image: url(../img/navigation-right.svg);
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
}
.home-hero-wrapper .arrow-right:hover{
	background-color:rgba(0,0,0,0.6);
	background-image: url(../img/navigation-right-white.svg);
}
.direction{
	position: absolute;
	height: 10px;
	bottom: 20px;
	right: 30px;
	font-size: 0;
}
.direction a{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(0,0,0,0.4);
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 10px;
	margin:0 5px;
}
.direction a:hover{
	border: 2px solid #7B7B7B;
	background: #fcfcfc;
}
 .home-hero .home-hero-sub{
 	width: 1226px;
 	height: 170px;
 	margin-top:14px;
 }
.home-hero .home-hero-sub .sub-span{
	width: 234px;
	height: 170px;
	display: inline-block;
	background: #5f5750;
}
.home-hero .home-hero-sub .sub-span .sub-span-six{
	list-style-type: none;
	font-size: 12px;
	text-align: center;
}
.sub-span .sub-span-six img{
	display: block;
	min-width: 32px;
	margin:0 auto 5px;
}
.home-hero-sub .sub-span .sub-span-six li{
	position: relative;
	float: left;
	width: 78px;
	height: 82px;
	margin:0 auto;
	position: relative;
}
.home-hero-sub .sub-span .sub-span-six li:before{
	content: "";
	display: inline-block;
	width:72px;
	height:1px; 
	background-color:rgba(255,255,255,0.1);
 	position: absolute;
 	top: 80px;
 	left: 6px;
}
.home-hero-sub .sub-span .sub-span-six li:nth-child(4):before{
	display: none;
}
.home-hero-sub .sub-span .sub-span-six li:nth-child(5):before{
	display: none;
}
.home-hero-sub .sub-span .sub-span-six li:nth-child(6):before{
	display: none;
}
 .home-hero-sub .sub-span .sub-span-six li:after{
 	content: "";
 	display: inline-block;
 	width: 1px;
 	height: 60px;
 	background-color: rgba(255,255,255,0.1);
 	position: absolute;
 	right: -4px;
 	top: 13px;
 }
 .home-hero-sub .sub-span .sub-span-six li:nth-child(3):after{
  	display: none;
  }
 .home-hero-sub .sub-span .sub-span-six li:nth-child(6):after{
 	display: none;
 }
.home-hero-sub .sub-span .sub-span-six a{
	display: inline-block;
	width: 70px;
	height: 69px;
  padding-top: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:rgba(255,255,255,0.7);
}
.home-hero-sub .sub-span .sub-span-six a:hover{
	color: #ffffff;
}

.home-hero .home-hero-sub .sub-img a{
	margin-left:10px;
	display: inline-block;
	height: 170px;
}
.home-hero .home-hero-sub .sub-img{
	float: right;
	height: 170px;
	margin:0px;
}
.home-hero .home-hero-sub .sub-img a img{
	width: 316px;
	height: 170px;
}
.home-hero .home-hero-sub .sub-img a:hover{
	box-shadow:-1px 13px 14px rgba(0,0,0,0.1);
	transition: all 0.2s;
}
.home-hero .home-hero-shopping{
	width: 1226px;
	height: 438px;
	margin-top: 20px;
}
.home-hero .home-hero-shopping .hero-shopping-hd{
	height: 58px;
	position: relative;
}
.home-hero-shopping .hero-shopping-hd .title{
	margin:0;
	font-size:22px;
	font-weight: 200;
	line-height: 58px;
	color:#333;
}
.home-hero-shopping .hero-shopping-hd .hero-shopp-more{
	display: inline-block;
 	width: 70px;
  height: 24px;
  border: 1px #b0b0b0 solid;
 	position: absolute;
 	right: 0;
 	top: 24px;
}
.hero-shopping-hd .hero-shopp-more .control-pre{
	width: 35px;
  height: 24px;
  display: inline-block;
  border-right: 1px #b0b0b0 solid;
}
.hero-shopping-hd .hero-shopp-more .control-pre:after{
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-bottom:2px solid #b0b0b0;
	border-left:2px solid #b0b0b0;
	transform: rotate(45deg);
	top:6px;
	left:15px;
}
.hero-shopping-hd .hero-shopp-more .control-pre:hover:after{
	border-bottom:2px solid #ff6700;
	border-left:2px solid #ff6700;
}
.hero-shopping-hd .hero-shopp-more .control-next:after{
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-top:2px solid #b0b0b0;
	border-right:2px solid #b0b0b0;
	transform: rotate(45deg);
	top:6px;
	right:15px;
}
.hero-shopping-hd .hero-shopp-more .control-next:hover:after{
	border-top:2px solid #ff6700;
	border-right:2px solid #ff6700;
}

.home-hero-shopping .hero-box-bd{
	width: 1226px
	height:340px;

}
.hero-box-bd .box-rainbow{
	display: inline-block;
	width: 234px;
	height:340px;
	background: #f1eded;
	border-top: 1px solid #e53935;
	padding-top: 40px;
  text-align: center;
}
.hero-box-bd .box-rainbow .time-title{
	font-size: 21px;
 	color: #ef3a3b;
	padding-top: 15px;
}
.hero-box-bd .box-rainbow img{
	margin: 25px auto;
}
.hero-box-bd .box-rainbow .sub{
	color: rgba(0,0,0,0.54);
  font-size: 15px;
}
.hero-box-bd .box-rainbow .sub-time{
	display: inline-block;
	width: 230px;
	height: 46px;
  margin: 28px auto 0;
}
.box-rainbow .sub-time .box .dosh{
	display:inline-block;	
}
.box-rainbow .sub-time .box{
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 46px;
  background: #605751;
 	color: #fff;
  font-size: 24px;
  line-height: 46px;
}
.box-rainbow .sub-time .dosh{
	display: inline-block;
	vertical-align: top;
	width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
}
.hero-box-bd .xm-container{
	float: right;
	height: 340px;
	margin:0;
}
.hero-box-bd .xm-container .xm-goods{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 234px;
	height: 339px;
	margin-left:10px;
}
.hero-box-bd .xm-container .xm-goods:nth-child(1){
	border-top:1px solid #ffac13;
}
.hero-box-bd .xm-container .xm-goods:nth-child(2){
	border-top:1px solid #83c44e;
}
.hero-box-bd .xm-container .xm-goods:nth-child(3){
	border-top:1px solid #2190f3;
}
.hero-box-bd .xm-container .xm-goods:nth-child(4){
	border-top:1px solid #e53935;
}
.xm-container .xm-goods .bg{
	display: inline-block;
	width: 234px;
  height: 340px;
  background-color: rgba(0,0,0,0.02);  
  text-align: center;
}
.xm-container .xm-goods .bg img{
	width: 160px;
	height: 165px;
	margin: 0 auto 22px;
}
.xm-container .xm-goods .bg h3{
	color: #212121;
  margin-top: 25px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.xm-container .xm-goods .bg .desc{
	height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.xm-container .xm-goods .bg .price{
	margin: 0;
  color: #ff6709;

}
.xm-container .xm-goods .bg .price span{
	text-decoration: line-through;
	color: #b0b0b0;
	margin-left: 8px;
}
.xm-goods .saleoff{
	position: absolute;
	background-color: #e53935;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 64px;
  height: 20px;
  margin-left: -32px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.home-hero-shopping .hero-banner{
	height: 120px;
	margin-top: 45px;
}
.home-hero-shopping .hero-banner img{
	width: 1226px;
	height:120px;
}
   
.page-main{
	height: 6797px;
	background: #f5f5f5;
	margin-top: 175px;
}
.page-main .main-contanier{
	width: 1226px;
	margin:0 auto;
	padding-top:22px;
}
.page-main .main-contanier .phone-shopping{
	width: 1226px;
	height:686px;
}
.phone-shopping .phone-shopping-hd{
	width: 1226px;
	height: 58px;
}
.phone-shopping-hd .shopping-title{
	display: inline-block;
	margin:0px;
	font-size: 20px;
	font-weight: 200;
	line-height: 58px;
	color:#333;
}
.phone-shopping-hd .view-all{
	float: right;
}
.phone-shopping-hd .view-all a{
	font-size: 16px;
	line-height: 58px;
	color: #424242;
	transition: all .4s;
	text-decoration: none;
}
.phone-shopping-hd .view-all a:hover{
	color: #ff6700;
}
.phone-shopping-hd .view-all .view-radius{
	display: inline-block;
	width: 22px;
  height: 22px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align:middle;
  transition: all .4s;
} 
.phone-shopping-hd .view-all .view-radius:after{
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
.phone-shopping-hd .view-all .view-radius:hover{
	background-color: #ff6700;
}
.phone-shopping .phone-shopping-bd{
	width: 1226px;
}
.phone-shopping-bd .shopping-left{
	width: 234px;
	height: 614px;
	float:left;
	font-size:0;
}
.phone-shopping-bd .shopping-left a{
	display:block;
	width: 100%;
	height: 100%;
}
.phone-shopping-bd .shopping-left img{
	width: 234px;
	height: 614px;
}
.phone-shopping-bd .shopping-left:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px);
}
.phone-shopping-bd .shopping-right{
	float: right;
	height: 614px;
	width: 992px;
	margin:0;

}
.shopping-right .brick-item{
  float: left;
	width: 234px;
  height: 300px;
  background-color: #fff;
  margin-left: 14px;
  margin-bottom: 14px;
  text-align: center;
}
.shopping-right .brick-item:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px);
}
.shopping-right .brick-item .link{
	display: block;
	font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.shopping-right .brick-item .desc{
	margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 	color: #b0b0b0;
}
.shopping-right .brick-item .num{
	color: #ff6700;
}
.shopping-right .brick-item .num del{
	color: #b0b0b0;
}
.main-contanier .phone-shopping-banner{
	margin:28px 0 22px;
}
.main-contanier .phone-shopping-banner img{
	width: 1226px;
	height: 120px;
}


.main-contanier .household-shopping{
	width: 1226px;
	height: 686px;
	position: relative;
}
.household-shopping .household-shopping-hd{
	height: 58px;
}
.household-shopping-hd .capacity{
	display: inline-block;
	margin:0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.household-shopping-hd .household-more{
	float: right;
	margin:0;
	padding:16px 0 0;
	font-size: 16px;
	list-style-type: none;
}
.household-shopping-hd .household-more li{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.household-shopping-hd .household-more a{
	color:#424242;
}
.household-shopping-hd .household-more a:hover{
	color:#ff6700;
	border-bottom: 2px solid #ff6700;
}
.household-shopping-bd .household-right{
	width: 234px;
	height: 618px;
	float: left;
}
.household-shopping-bd .household-right img{
	display: block;
	width: 234px;
	height: 300px;
	margin-bottom: 8px;
}
.household-shopping-bd .household-right img:nth-child{
	margin:0;
}
.household-shopping-bd .household-right img:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px)
}
.household-left{
	position: absolute;
	width: 992px;
	height: 614px;
	top: 58px;
	right: 0;
}
.household-left .household-item{
	display: inline-block;
	width: 234px;
	height: 300px;
	float: left;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom:14px;
	transition: all .2s ease;
	overflow: hidden;
	position: relative;
}
.household-left .household-item img{
	display: block;
	width: 150px;
	height: 150px;
	margin:0 auto;
}
.household-left .household-item a{
	display:block;
	color: #333;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
}
.household-left .household-item .record{
	margin: 0 10px 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  text-align: center;
}
.household-left .household-item .price{
	margin: 0 10px 10px;
 	color: #ff6700;
 	text-align: center;
}
.household-left .household-item .price del{
	color: #b0b0b0;
	margin-left: 4px;
}
.household-left .household-item .evealuate{
	width: 234px;
	height:85px;
	font-size: 12px;
	padding: 8px 30px;
	background-color:#ff6700;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	transform: translateY(100%);
 	transition: all .2s ease;
}
.household-left .household-item .evealuate p{
	margin-bottom: 5px;
	color: #fff;
}
.household-left .household-item .evealuate span{
	color: rgba(255,255,255,0.6);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.household-left .household-item:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px)
}
.household-left .household-item:hover .evealuate{
	transition: all .2s linear;
	transform: translateY(0);
}
.household-item-small{
	float: left;
	width: 234px;
	height: 143px;
	margin: 0 0 14px 14px;
	background-color: #fff;
}
.household-item-small:nth-child(2){
	margin-bottom: 0;
}
.household-item-small:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px)
}
.household-item-small .item-small{
	float: left;
	display: inline-block;
	width: 94px;
	height: 80px;
	margin: 30px 0 0 30px;
}
.household-item-small .item-small .item-title{
	display: inline-block;
	color: #333;
	line-height: 14px;
	text-decoration: none;
}
.household-item-small .item-small .item-price{
	display: inline-block;
	color: #ff6700;
	line-height: 14px;
}
.household-item-small img{
	float: right;
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-right: 30px;
}
.household-item-small .browse{
	display: inline-block;
	font-size: 18px;
	color: #333;
	font-size: 18px;
	margin: 25px 110px 0 30px;
	text-decoration: none;
}
.household-item-small .navigation{
	display: inline-block;
	text-decoration: none;
	width: 48px;
	height: 48px;
	 margin: -73px 16px 68px 163px;
}
.household-item-small .navigation img{
	width: 48px;
	height: 48px;
}
.household-item-small span{
	font-size: 12px;
	display: block;
	margin-top: 15px;	
	color: #757575;
}
.household-shopping-banner{
	display: inline-block;
	margin:28px 0 22px;
}
.household-shopping-banner img{
	width: 1226px;
	height: 120px;
}





.recommend-shopping{
	position: relative;
 	width: 1226px;
 	height: 398px;
 	margin-top: 20px;
}
.recommend-shopping .recommend-hd{
 	width: 1226px;
 	height: 58px;
 	position: relative;
}
.recommend-shopping .recommend-hd .title{
	display: inline-block;
 	margin: 0;
 	font-size: 22px;
 	line-height: 58px;
 	font-weight:200;
 	color: #333;
}
.recommend-shopping .recommend-hd .more{
 		display: inline-block;
 		width: 70px;
  	height: 24px;
  	border: 1px #b0b0b0 solid;
 		position: absolute;
 		right: 0;
 		top: 24px;
  }
  .recommend-hd .more .xm-controls{
  	display: inline-block;
  }
  .recommend-hd .more .xm-controls a{
		margin-left: -1px;
  }
  .recommend-hd .more .xm-controls .contorl-prev{
  	width: 35px;
  	height: 24px;
  	display: inline-block;
  	border-right: 1px #b0b0b0 solid;
  }
  .recommend-hd .more .xm-controls .contorl-prev:after{
  	content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 15px;
  }
  .recommend-hd .more .xm-controls .contorl-prev:hover:after{
  	border-left: 1px solid #ff6700;
  	border-bottom: 1px solid #ff6700;
  }
  .recommend-hd .more .xm-controls .contorl-next:after{
  	content: '';
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	border-top: 1px solid #b0b0b0;
  	border-right: 1px solid #b0b0b0;
  	transform: rotate(45deg);
  	position: absolute;
    top: 6px;
    right: 15px;
  }
  .recommend-hd .more .xm-controls .contorl-next:hover:after{
  	border-top: 1px solid #ff6700;
  	border-right: 1px solid #ff6700;
  }


 	.recommend-goods-item{
 		width: 234px;
 		height: 340px;
 		float: left;
 		margin-right: 14px;
 		background-color: #fff;
 	}
 	.recommend-goods-item:hover{
 		box-shadow: 0 15px 30px rgba(0,0,0,0.1);
 		transform: translate3d(0,-2px, 0);
 	/*	box-shadow: -1px 13px 14px rgba(0,0,0,0.05);
    transform: translateY(-2px);*/
    transition: all .1s linear;
 	}
 	.recommend-goods-item:nth-child(5){
 		margin-right: 0;
 	}
	.recommend-goods-item .recommend-bg{
    width: 234px;
    height: 340px;
    display: inline-block;
    background-color: rgba(0,0,0,0.02);  
    text-align: center;
  }
  .recommend-goods-item .recommend-bg img{
  	width: 160px;
  	height: 166px;
  	margin-bottom:22px;
  }
  .recommend-goods-item .recommend-bg h3{
  	font-size: 14px;
  	color: #212121;
  	margin-top: 25px;
  }
  .recommend-goods-item .recommend-bg .recommend-price{
  	margin: 0;
    color: #ff6709;
  }
.recommend-goods-item .recommend-bg .recommend-received{
	margin:0;
	color: #b0b0b0;
}


.review-shopping{
	width: 1226px;
	height: 473px;
	margin-top: 20px;
}
.review-shopping .review-hd{
	width: 1226px;
	height: 58px;
}
.review-shopping .review-hd .review-title{
	margin:0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color:#333;
}
.review-shopping .review-bd{
	width: 296px;
	height: 415px;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	background:#fff;
}
.review-shopping .review-bd:last-child{
	margin-right:0;
}
.review-shopping .review-bd:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
	transition: all .1s linear;
}
.review-shopping .review-bd .review-item{
	display: block;
	margin:296px;
	height: 220px;
	margin:0 0 28px;
}
.review-bd .review-item a{
	display: block;
	text-decoration: none;
}
.review-bd .review-item img{
	width: 296px;
	height: 220px;
	border:0;
}
.review-bd .review-appraise{
	display: inline-block;
	height: 72px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	overflow: hidden;
}	
.review-bd .review-appraise a{
	display: block;
	width: 240px;
	margin:0 20px;
	color: #333;
	text-decoration: none;
}

.review-bd .review-author{
	height: 18px;
	margin:0 28px 28px;
	padding:0 10px 0;
	font-size: 12px;
	color: #b0b0b0;
}
.review-bd .review-info{
	display: block;
	margin:0 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.review-info .review-title{
	display: inline-block;
	margin:0;
	font-size: 14px;
	font-size: 400;
	max-width: 170px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: bottom;
	color: #333;
}
.review-info .sep{
	margin:5px;
}
.review-info .review-price{
	display: inline-block;
	margin:0;
	color: #ff6700;
}

.contont-shopping{
	width: 1226px;
	height: 478px;
	margin-top: 20px;
}
.contont-shopping .contont-hd{
 	width: 1226px;
 	height: 58px;
 	position: relative;
}
.contont-shopping .contont-hd .title{
	display: inline-block;
 	margin: 0; 	
 	font-weight:200;
 	font-size: 22px;
 	line-height: 58px;
 	color: #333;
}
.contont-shopping .contont-bd{
	position: relative;
	float: left;
	width: 296px;
	height: 420px;
	margin-right: 14px;
	margin-bottom: 14px;
	background-color: #fff; 
	border-top: 1px solid #ff6700;
	text-align: center;
}
.contont-shopping .contont-bd:nth-child(2){
	border-top: 1px solid #83c44e;
}
.contont-shopping .contont-bd:nth-child(3){
	border-top: 1px solid #e53935;
}
.contont-shopping .contont-bd:nth-child(4){
	border-top: 1px solid #2190f3;
}

.contont-shopping .contont-bd:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
	transition: all .1s linear;
}
.contont-shopping .contont-bd:last-child{
	margin-right: 0;
}
.contont-shopping .contont-bd h2{
	margin:45px 10px 18px;
	font-size: 16px;
	font-weight: 400;
	color: #ffac13;
	text-align: center;
}
.contont-shopping .contont-bd:nth-child(2) h2{
	color: #83c44e;
}
.contont-shopping .contont-bd:nth-child(3) h2{
	color: #e53935;
}
.contont-shopping .contont-bd:nth-child(4) h2{
	color: #2190f3;
}

.contont-bd .book-title{
	display: block;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	color: #333;
}
.contont-bd .book-sentence{
	display: block;
	margin:10px 48px 10px;
	height: 40px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	color: #b0b0b0;
	text-decoration: none;
}
.contont-bd .book-price{
	display: block;
	color: #333;
	height: 21px;
	margin:0 10px 15px;
	text-align: center;
	text-decoration: none;
}
.contont-bd .books{
	display: block;
	text-align: center;
	height: 154px;
	text-decoration: none;
}
.contont-bd .books img{
	width: 216px;
	height: 154px;
}
.contont-bd .dos{
	position: absolute;
	bottom:20px;
	left:127px;
	display: inline-block;
	list-style-type: none;
}
.contont-bd .dos li{
	width: 7px;
	height: 7px;
	text-align: left;
	display: inline-block;
	border-radius: 5px;
	background-color:#b0b0b0;
	margin-right: 20px;
}
.contont-bd .dos li:hover{
	background-color:  #ff6700;
}
.contont-bd .book-previous{
	position: absolute;
	width: 20px;
	height: 48px;
	left:0;
	top:50%;
	/*background-color: red;*/
}
.contont-bd .book-previous:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .6s;
}
.contont-bd .book-previous:after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #fff;
	border-left:2px solid #fff;
	transform: rotate(45deg);
	margin-top: 20px;
	margin-left: 2px;
}
.contont-shopping .contont-bd:hover .book-previous{
	background-color: rgba(0,0,0,0.3);
	transition: all .6s;
}
.contont-bd .book-next{
	position: absolute;
	width: 20px;
	height: 48px;
	right: 0;
	top: 50%;
}
.contont-bd .book-next:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .6s;
}
.contont-bd .book-next:after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #fff;
	border-left:2px solid #fff;
	transform: rotate(45deg);
	margin-top: 20px;
	margin-left: 2px;
}
.contont-shopping .contont-bd:hover .book-next{
	background-color: rgba(0,0,0,0.3);
	transition: all .6s;
}
.video-shopping{
	width: 1226px;
	height: 343px;
}
.video-shopping .video-hd{
	width: 1226px
	height:58px;
}
.video-hd .video-title h2{
	display: inline-block;
	margin: 0px;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.video-hd .video-more{
	float: right;
}
.video-hd .video-more .video-see{
	text-decoration: none;
	color: #333;
}
.video-hd .video-more .video-circular{
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #b0b0b0;
}
.video-hd .video-more .video-circular:after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	margin-left: 5px;
}
.video-hd .video-more .video-see:hover{
	color: #ff6700;	
}
.video-hd .video-more .video-see:hover .video-circular{
	background-color: #ff6700;	
}
.video-list .video-item{
	float: left;
  width: 296px;
  height: 285px;
  margin-right:14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  position: relative;
}
.video-list .video-item:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
	transition: all .1s linear;
}
.video-list .video-item:last-child{
	margin-right: 0;
}
.video-item img{
	width: 296px;
	height: 180px;
}
.video-item h3{
	margin: 25px 0 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.video-list .video-item a{
	color: #333;
	text-decoration: none;
}
.video-list .video-item p{
	height: 18px;
  margin: 0;
  font-size: 12px;
  color: #b0b0b0;
}
.video-list .video-item .play{
	position: absolute;
	top: 145px;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: rgba(0,0,0,0.6);
  transition: all .2s;
  overflow: hidden;
}
.video-list .video-item .play:hover{
	background-color: #ff6700;
	border: 2px #ff6700 solid;
}
/*.footer-section{

}
*/




















